{% load static %}
{% load range %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.name}}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'site/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

{% include 'mainapp/includes/nav-header.html' %}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="/">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="http://{{host}}{{room.images.0.path}}" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>{{room.name}}</h3>
                            <div class="rdt-right">
                                <a href="#">Book Now</a>
                            </div>
                        </div>
                        <h2>{{room.price}}<span>/Pernight</span></h2>
                        <table>
                            <tbody>
                            <tr>
                                <td class="r-o">Adults:</td>
                                <td>{{ room.adult }}</td>
                            </tr>
                            <tr>
                                <td class="r-o">Children:</td>
                                <td>{{ room.kids }}</td>
                            </tr>
                            <tr>
                                <td class="r-o">Infants:</td>
                                <td>{{ room.infants }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="f-para">
                            {{ room.description }}
                        </p>
                    </div>
                </div>
                <div class="rd-reviews">
                    <h4>Reviews</h4>

                    {% for review in reviews %}
                    <div class="review-item">
                        <div class="ri-text">
                            <div class="rating">
                                {% for star in review.rate|range %}
                                <i class="icon_star"></i>
                                {% endfor %}
                                <!--<i class="icon_star-_alt"></i>-->
                            </div>
                            <h5>{{ review.author }}</h5>
                            <p>{{ review.text }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="review-add">
                    <h4>Add Review</h4>
                    <form action="{% url 'main:room' id %}" method="post" class="ra-form">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="add-rating">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="author" placeholder="Name*">
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <h5>You Rating:</h5>
                                    <div class="rate">
                                        <input type="hidden" name="stars" id="stars">
                                        <input type="radio" id="star5" name="rate" value="5"/>
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4"/>
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3"/>
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2"/>
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1"/>
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                                <textarea placeholder="Your Review" name="text"></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                            </select>
                        </div>
                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->

{% include 'mainapp/includes/footer.html' %}

<!-- Js Plugins -->
<script src="{% static 'site/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'site/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'site/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'site/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'site/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'site/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'site/js/main.js' %}"></script>
<script>
    $('input:radio').change(
        function () {
            $("#stars").val(this.value)
        });
</script>
</body>

</html>