<!DOCTYPE html>
{% load static %}
{% load query_booking %}

<html lang="en">
{% block css %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Dashboard - Book!</title>
        <link href="{% static 'css/admin/styles.css' %}" rel="stylesheet"/>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
              crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="stylesheet" href="{% static '/css/form.css'%}">
    </head>
{% endblock %}
{% block conteiner %}

    <body class="sb-nav-fixed">

    {% block navbar %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'management:main' %}">Book.com Admin</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
        </button
        ><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                       aria-describedby="basic-addon2"/>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'auth:logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    {% endblock %}

    <div id="layoutSidenav">
        {% include 'adminapp/includes/nav.html' %}

        <div id="layoutSidenav_content">

            {% block content %}
            {% endblock %}

            {% block footer %}
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Book.com 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        </div>
    </div>
    {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'css/admin/chart-area-demo.js' %}"></script>
        <script src="{% static 'css/admin/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'css/admin/datatables-demo.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    {% endblock %}
    {% block jquery %}
        <!--<script>-->
            <!--//jQuery time-->
            <!--var current_fs, next_fs, previous_fs; //fieldsets-->
            <!--var left, opacity, scale; //fieldset properties which we will animate-->
            <!--var animating; //flag to prevent quick multi-click glitches-->
        <!---->
            <!--$(".next").click(function () {-->
                <!--if (animating) return false;-->
                <!--animating = true;-->
        <!---->
                <!--current_fs = $(this).parent();-->
                <!--next_fs = $(this).parent().next();-->
        <!---->
                <!--//activate next step on progressbar using the index of next_fs-->
                <!--$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");-->
        <!---->
                <!--//show the next fieldset-->
                <!--next_fs.show();-->
                <!--//hide the current fieldset with style-->
                <!--current_fs.animate({opacity: 0}, {-->
                    <!--step: function (now, mx) {-->
                        <!--//as the opacity of current_fs reduces to 0 - stored in "now"-->
                        <!--//1. scale current_fs down to 80%-->
                        <!--scale = 1 - (1 - now) * 0.2;-->
                        <!--//2. bring next_fs from the right(50%)-->
                        <!--left = (now * 50) + "%";-->
                        <!--//3. increase opacity of next_fs to 1 as it moves in-->
                        <!--opacity = 1 - now;-->
                        <!--current_fs.css({-->
                            <!--'transform': 'scale(' + scale + ')',-->
                            <!--'position': 'absolute'-->
                        <!--});-->
                        <!--next_fs.css({'left': left, 'opacity': opacity});-->
                    <!--},-->
                    <!--duration: 800,-->
                    <!--complete: function () {-->
                        <!--current_fs.hide();-->
                        <!--animating = false;-->
                    <!--},-->
                    <!--//this comes from the custom easing plugin-->
                    <!--easing: 'easeInOutBack'-->
                <!--});-->
            <!--});-->
        <!---->
            <!--$(".previous").click(function () {-->
                <!--if (animating) return false;-->
                <!--animating = true;-->
        <!---->
                <!--current_fs = $(this).parent();-->
                <!--previous_fs = $(this).parent().prev();-->
        <!---->
                <!--//de-activate current step on progressbar-->
                <!--$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");-->
        <!---->
                <!--//show the previous fieldset-->
                <!--previous_fs.show();-->
                <!--//hide the current fieldset with style-->
                <!--current_fs.animate({opacity: 0}, {-->
                    <!--step: function (now, mx) {-->
                        <!--//as the opacity of current_fs reduces to 0 - stored in "now"-->
                        <!--//1. scale previous_fs from 80% to 100%-->
                        <!--scale = 0.8 + (1 - now) * 0.2;-->
                        <!--//2. take current_fs to the right(50%) - from 0%-->
                        <!--left = ((1 - now) * 50) + "%";-->
                        <!--//3. increase opacity of previous_fs to 1 as it moves in-->
                        <!--opacity = 1 - now;-->
                        <!--current_fs.css({'left': left});-->
                        <!--previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});-->
                    <!--},-->
                    <!--duration: 800,-->
                    <!--complete: function () {-->
                        <!--current_fs.hide();-->
                        <!--animating = false;-->
                    <!--},-->
                    <!--//this comes from the custom easing plugin-->
                    <!--easing: 'easeInOutBack'-->
                <!--});-->
            <!--});-->
        <!---->
            <!--$(".submit").click(function () {-->
                <!--// return false;-->
            <!--})-->
        <!---->
        <!--</script>-->
    {% endblock %}
    </body>
{% endblock %}
</html>
